<!doctype html>
<html>
<head>
    <title>TEMPLATE_GRAPH_NAME</title>
    
	TEMPLATE_STYLE_FONT_AWESOME
	TEMPLATE_STYLE_TEXT_CONTEXT
	TEMPLATE_STYLE_NAVIGATOR
	TEMPLATE_STYLE_PANZOOM
    <script src="js/cytoscape.min.js"></script>
    TEMPLATE_LAYOUT_DAGRE
    TEMPLATE_LAYOUT_KLAY
	TEMPLATE_JQUERY
	TEMPLATE_JS_TEXT_CONTEXT
	TEMPLATE_JS_WHEEL_CONTEXT
	TEMPLATE_JS_NAVIGATOR_CONTEXT
	TEMPLATE_JS_PANZOOM_CONTEXT
</head>
<style>
    #cy {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
</style>
<body>
    <div id="cy"></div>
	<script>
		var cy = cytoscape({
		  container: document.getElementById("cy"),
		  layout: {
		    // algorithm layout options
		    TEMPLATE_LAYOUT_OPTIONS_DAGRE
		    
		    // general layout options
            TEMPLATE_LAYOUT_OPTIONS_GENERAL
		  },
		  elements: [
			// nodes
			TEMPLATE_NODES
			// edges
			TEMPLATE_EDGES
			],
		    style: [
		        {
		            selector: "node",
		            style: {
		                label: "data(name)",
						shape: "square",
						"background-color": "#34c2db", // light blue 1
        				"text-opacity": 1,
						"text-wrap": "wrap",
						"background-opacity": 1,
						"border-width": 1,
      				  	"border-color": "black",
        				"text-valign": "center",
        				"text-halign": "center",
						//"width": 50,
    					//"height": 50
		            }
		        },
		        {
		            selector: ":parent",
		            style: {
						"background-color": "#33aff3", // light blue 2
						"background-opacity": .15,
						"padding": 24,
        				"text-valign": "top",
        				"text-halign": "center",
						"text-margin-y": 20, // positive moves down
						"text-margin-x": 0, // positive moves right
		            }
		        },
		        {
		            selector: "node:selected",
		            style: {
						"background-color": "yellow"
		            }
		        },
		        {
		            selector: "edge",
		            style: {
						label: "data(name)",
						width: 1,
        				"curve-style": "bezier",
        				"target-arrow-shape": "triangle",
        				"line-color": "black",
        				"target-arrow-color": "black",
        				//"edge-text-rotation": "autorotate",
						"text-margin-x": 20,
						"text-margin-y": 0,
						"text-wrap": "wrap"
		            }
		        },
		        {
		            selector: "edge:selected",
		            style: {
        				"line-color": "#33aff3", // light blue 2
        				"target-arrow-color": "#33aff3" // light blue 2
		            }
		        },
			]
		});
		
		TEMPLATE_OPTIONS_PANZOOM
		TEMPLATE_OPTIONS_NAVIGATOR
        TEMPLATE_OPTIONS_CONTEXT_TEXT
		TEMPLATE_OPTIONS_CONTEXT_WHEEL
    </script>
</body>
</html>